<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokyoc.line_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MessageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SigninActivity"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MemberActivity"
            android:label="友達"/>

        <activity
            android:name=".GroupActivity"
            android:label="グループ" />

        <activity
            android:name=".SignupActivity"
            android:label="Sign Up"/>


        <activity
            android:name=".MakeGroupActivity"
            android:label="グループ作成"/>

        <activity
            android:name=".MakePinActivity"
            android:label="友達追加"/>

        <activity
            android:name=".SendPinActivity"
            android:label="友達追加"/>

        <activity
            android:name=".InviteActivity"
            android:label="友達招待"/>

        <activity
            android:name=".GroupMemberActivity"
            android:label="メンバー"/>

        <activity
            android:name=".SettingActivity"
            android:label="設定" />

        <activity
            android:name=".ProfileActivity" />

        <activity
            android:name=".ChangeImageActivity" />

        <activity
            android:name=".ChangeNameActivity" />

        <activity
            android:name=".MemberProfileActivity" />

        <activity
            android:name=".GroupProfileActivity" />

        <activity
            android:name=".ChangeGroupImageActivity" />

        <activity
            android:name=".ChangeGroupNameActivity" />

      
        <service android:name=".PollingService" />
    </application>

</manifest>